h1 {
  font-family: "Averia Serif Libre", serif;
  font-size: 64px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size: 30px;
}

h3 {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-size: 20px;
}

p {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
}

h1,
h2,
h3,
p,
a,
li,
ul {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.App {
  width: 1440px;
}

.title {
  color: #e4dfd9;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 25px;
}

.main {
  &__categories {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    color: white;

    &_text {
      width: 309px;
      margin-left: 60px;
      text-align: right;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &_link {
      width: 837px;
      height: 416px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #2c0107;
      ul {
        width: 670px;
        height: 208px;
        list-style-type: none;
        a {
          display: flex;
          justify-content: space-between;
          color: white;
          margin-bottom: 15px;
          img {
            margin-right: 20px;
            margin-left: 0;
          }
        }
        hr {
          margin-bottom: 20px;
        }
      }
    }
  }

  &__features {
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #e4dfd9;

    &_list2,
    &_list4 {
      margin-top: 26px;
    }

    ul {
      width: 335px;
      display: flex;
      flex-direction: column;
      li {
        margin-left: 30px;
      }
    }
    img {
      width: 512px;
      height: 801px;
    }
  }

  &__btn {
    margin-top: 25px;
    width: 284px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    // padding: 13px 38px;
    color: #e4dfd9;
    background-color: #2c0107;
    border-radius: 20px;
    text-align: center;
    border: none;
    a {
      color: #e4dfd9;
    }
  }

  &__sign {
    margin-top: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d9d9d9;
    padding-left: 60px;
    padding-right: 60px;
    height: 130px;
    border-bottom: 3px solid #44010a;
    a {
      color: #e4dfd9;
    }

    button {
      width: 502px;
      height: 110px;
      background-color: #44010a;
      border-radius: 400px;
      border: 4px solid #e4dfd9;
      //   outline: 4px solid #2c0107;
      cursor: pointer;
      transition: all 0.5s;

      &:hover {
        box-shadow: 0 0 0 3px #44010a, 0 0 0 5px;
      }
    }
  }
}

.about {
  &__desc {
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
    // align-items: center;
    justify-content: space-between;
    color: #e4dfd9;

    &_text {
      width: 723px;
      text-align-last: left;

      :first-child {
        margin-top: 0;
      }

      h3 {
        margin-top: 25px;
      }

      ul {
        margin-top: 20px;
        // margin-bottom: 20px;
        padding-left: 30px;
        font-family: "Overpass", sans-serif;
        font-optical-sizing: auto;
        font-size: 20px;
      }
    }
  }

  &__block {
    margin-left: 60px;
    width: 1172px;
    height: 1065px;
    margin-top: 45px;
    margin-bottom: 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 71px;
    color: #e4dfd9;
    &_rotate {
      writing-mode: sideways-lr;
    }

    &_desc {
      display: flex;
      padding: 60px;
      width: 904px;
      height: 895px;
      background-color: #260005;
      border: 3px solid #d9d9d9;
      border-radius: 30px;
      h2 {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }

    &_side {
      display: flex;
      writing-mode: sideways-rl;
      gap: 60px;
    }
  }

  //   p {
  //     width: 400px;
  //     color: #d9d9d9;
  //     font-size: 32px;
  //     transform: rotate(90deg);
  //   }
}
