h1{
    font-family: "Averia Serif Libre", serif;
    font-size: 64px;
}

h2{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 30px;
}

h3 {
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
  }

p{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
}

h1,h2,h3,p,a,li,ul{
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-weight: normal;
}


.App{
    width: 1440px;
}